{{yield}}

<div class="ui centered grid commentClass">
	<!-- An element a visitor can click if they <3 comments! -->
	<span class="show-comments ui button fourteen wide column">Load comments</span>

	<!-- The empty element required for Disqus to loads comments into -->  
	<div id="disqus_thread" class="fourteen wide column"></div>
</div>