/* line 1, ../sass/input.scss */
/* line 2, sass/app.scss */
#amsite_logo {
  margin-right: 1.25em;
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
/* line 14, ../sass/input.scss */
/* line 15, sass/app.scss */
.jssorb05 {
  position: absolute;
}

/* Start of Dropdown Menu Code */
/* line 21, sass/app.scss */
.nav_menu_1.ui.menu {
  background: none;
}

/* End of Dropdown Menu Code */
/* line 17, ../sass/input.scss */
/* line 29, sass/app.scss */
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url("images/img/b05.png") center center no-repeat;
  overflow: hidden;
  cursor: pointer;
}

/* line 27, ../sass/input.scss */
/* line 41, sass/app.scss */
.jssorb05 div {
  background-position: -7px -7px;
}

/* line 28, ../sass/input.scss */
/* line 46, sass/app.scss */
.jssorb05 div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px;
}

/* line 29, ../sass/input.scss */
/* line 51, sass/app.scss */
.jssorb05 .av {
  background-position: -67px -7px;
}

/* line 30, ../sass/input.scss */
/* line 56, sass/app.scss */
.jssorb05 .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px;
}

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
/* line 41, ../sass/input.scss */
/* line 70, sass/app.scss */
.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url("images/img/a22.png") center center no-repeat;
  overflow: hidden;
}

/* line 52, ../sass/input.scss */
/* line 83, sass/app.scss */
.jssora22l {
  background-position: -10px -31px;
}

/* line 53, ../sass/input.scss */
/* line 88, sass/app.scss */
.jssora22r {
  background-position: -70px -31px;
}

/* line 54, ../sass/input.scss */
/* line 93, sass/app.scss */
.jssora22l:hover {
  background-position: -130px -31px;
}

/* line 55, ../sass/input.scss */
/* line 98, sass/app.scss */
.jssora22r:hover {
  background-position: -190px -31px;
}

/* line 56, ../sass/input.scss */
/* line 103, sass/app.scss */
.jssora22l.jssora22ldn {
  background-position: -250px -31px;
}

/* line 57, ../sass/input.scss */
/* line 108, sass/app.scss */
.jssora22r.jssora22rdn {
  background-position: -310px -31px;
}

/* line 112, sass/app.scss */
table.ui.table.socialIcons {
  border: none;
  color: #01b2f1;
  width: 105px;
  margin: auto;
}

/* line 120, sass/app.scss */
table.ui.table.socialIcons > tbody > tr > td {
  padding: 0px;
}

/* line 124, sass/app.scss */
table.ui.table.socialIcons > tbody > tr > td > i {
  width: 20px;
}

/* line 128, sass/app.scss */
.ui.centered.grid.commentClass {
  margin: 10px 0px 10px 0px;
}

/* line 133, sass/app.scss */
#disqus_thread {
  display: none;
}

/* line 138, sass/app.scss */
.footerSection1 > tbody > tr > td {
  vertical-align: top;
}
