<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AMSite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/am-site.css">
	<!-- <link rel="stylesheet" href="assets/stylesheets/input.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
	<script src="assets/input.js"></script>
	<script src="assets/jssor.slider.debug.js"></script>
	<script src="assets/jssor.slider.min.js"></script>

    {{content-for "head-footer"}}
  </head>
  <body>
	
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/am-site.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
