{{outlet}}
	<!-- <div id="jssor_1" style="margin-top:52.625px; position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden; ">
		<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
			<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
			<div style="position:absolute;display:block;background:url('assets/images/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
		</div>
		<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
			<div data-p="225.00" style="display: none;">
				<img data-u="image" src="http://placeimg.com/400/200/animals" />
			</div>
			<div data-p="225.00" style="display: none;">
				<img data-u="image" src="http://placeimg.com/400/200/people" />
			</div>
			<div data-p="225.00" style="display: none;">
				<img data-u="image" src="http://placeimg.com/400/200/nature" />
			</div>
			<div data-p="225.00" style="display: none;">
				<img data-u="image" src="http://placeimg.com/400/200/architecture" />
			</div>
		</div>
		<div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
			<div data-u="prototype" style="width:16px;height:16px;"></div>
		</div>
		<span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
		<span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
		<a href="http://www.jssor.com" style="display:none">Slideshow Maker</a>
	</div> -->
	<!-- <span id="tester"></span> -->
	{{carousel-component}}
	{{comments-component}}