<header>
	<div class="ui attached inverted stackable menu">
	  <div class="ui container">
		<a class="item">
		  <img id="amsite_logo" class="logo" src="assets/images/logo.png">
			Project Name
		</a>
		<a href="/" class="item">
		  <i class="home icon"></i> Home
		</a>
		<a class="item">
		  <i class="grid layout icon"></i> Browse
		</a>
		<a class="item">
		  <i class="mail icon"></i> Messages
		</a>
		<a href="/about"class="item">
		  <i class="mail icon"></i> About
		</a>
		<div class="ui pointing dropdown link item">
			<span class="text">Shopping</span>
			<i class="dropdown icon"></i>
			<div class="menu">
			  <div class="header">Categories</div>
			  <div class="item">
				<i class="dropdown icon"></i>
				<span class="text">Clothing</span>
				<div class="menu">
				  <div class="header">Mens</div>
				  <div class="item">Shirts</div>
				  <div class="item">Pants</div>
				  <div class="item">Jeans</div>
				  <div class="item">Shoes</div>
				  <div class="divider"></div>
				  <div class="header">Womens</div>
				  <div class="item">Dresses</div>
				  <div class="item">Shoes</div>
				  <div class="item">Bags</div>
				</div>
			  </div>
			  <div class="item">Home Goods</div>
			  <div class="item">Bedroom</div>
			  <div class="divider"></div>
			  <div class="header">Order</div>
			  <div class="item">Status</div>
			  <div class="item">Cancellations</div>
			</div>
		  </div>
		<div class="right item">
		  <div class="ui input"><input type="text" placeholder="Search..."></div>
		</div>
	  </div>
	</div>
</header>

<div>
	{{outlet}}
	{{semantic-custom-component}}
</div>
	
	<!-- <img src="https://tracklode.com/piwik.php?idsite=9&rec=1" style="border:0; display:none;" alt="" /> -->
	<!-- <noscript><p><img src="//tracklode.com/piwik.php?idsite=9&rec=1" style="border:0;" alt="" /></p></noscript> -->
	<!-- End Piwik -->

<footer>
	<div class="ui inverted vertical footer segment">
		<div class="ui center aligned container">
		  <table class="ui table footerSection1">
			  <tbody>
				<tr>
					<td class="labels center aligned">
						<img src="assets/images/image.png" class="ui centered mini image">
					</td>
				    <td class="labels center aligned">
						About Us
					</td>
					<td class="labels center aligned">
						Contact Us
					</td>
					<td class="labels center aligned">
						Site Map
					</td>
					<td class="labels center aligned">
						Terms of Use
					</td>
					<td class="labels center aligned">
						Follow Us
						<table class="ui table socialIcons">
							<tbody>
								<tr>
									<td class="center aligned">
										<i class="fa fa-twitter fa-lg"></i>
									</td>
									<td class="center aligned">
										<i class="fa fa-facebook fa-lg"></i>
									</td>
									<td class="center aligned">
										<i class="fa fa-google-plus fa-lg"></i>
									</td>
									<td class="center aligned">
										<i class="fa fa-youtube fa-lg"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			  </tbody>
			</table>
		  <div class="ui inverted section divider"></div>
		  <img src="assets/images/logo.png" class="ui centered mini image">
		  <div class="ui horizontal inverted small divided link list">
			<a class="item" href="#">Site Map</a>
			<a class="item" href="#">Contact Us</a>
			<a class="item" href="#">Terms and Conditions</a>
			<a class="item" href="#">Privacy Policy</a>
		  </div>
		</div>
	</div>
</footer>
